<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> - Landing</title>
</head>
<body>
    <p>Bienvenido a la aplicación</p>

    <div>
        <p>
            Para ir al lgin presione <a href="https://lab4applogin.herokuapp.com//login">Aquí</a>
        </p>
    </div>

    <div>
        <p>
            Para ir a la página de error presione <a href="https://lab4applogin.herokuapp.com//error">Aquí</a>
        </p>
    </div>

</body>
</html>