<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> - Login</title>
</head>
<body>
    
    <div>
        <h1>Por favor ingrese a la app </h1>
        <div>
            <label for="">Usuario: </label>
            <input type="text" name="" id="user">
        </div>
        <div>
            <label for="">Constraseña: </label>
            <input type="password" name="" id="pass" >
        </div>
        <div>
            <br>
            <button (click)=login()>Ingresar</button>
        </div>
    </div>

</body>
</html>

<router-outlet></router-outlet>
